<div>
  <h2 id="page-heading" data-cy="BankHeading">
    <span jhiTranslate="coopCycleApp.bank.home.title">Banks</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="coopCycleApp.bank.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-bank"
        [routerLink]="['/bank/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="coopCycleApp.bank.home.createLabel"> Create a new Bank </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="banks?.length === 0">
    <span jhiTranslate="coopCycleApp.bank.home.notFound">No banks found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="banks && banks.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="coopCycleApp.bank.id">Id</span></th>
          <th scope="col"><span jhiTranslate="coopCycleApp.bank.streetAddress">Street Address</span></th>
          <th scope="col"><span jhiTranslate="coopCycleApp.bank.postalCode">Postal Code</span></th>
          <th scope="col"><span jhiTranslate="coopCycleApp.bank.city">City</span></th>
          <th scope="col"><span jhiTranslate="coopCycleApp.bank.stateProvince">State Province</span></th>
          <th scope="col"><span jhiTranslate="coopCycleApp.bank.owns">Owns</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bank of banks; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/bank', bank.id, 'view']">{{ bank.id }}</a>
          </td>
          <td>{{ bank.streetAddress }}</td>
          <td>{{ bank.postalCode }}</td>
          <td>{{ bank.city }}</td>
          <td>{{ bank.stateProvince }}</td>
          <td>
            <div *ngIf="bank.owns">
              <a [routerLink]="['/delivery', bank.owns?.id, 'view']">{{ bank.owns?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/bank', bank.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/bank', bank.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(bank)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
