<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="bank">
      <h2 data-cy="bankDetailsHeading"><span jhiTranslate="coopCycleApp.bank.detail.title">Bank</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="coopCycleApp.bank.id">Id</span></dt>
        <dd>
          <span>{{ bank.id }}</span>
        </dd>
        <dt><span jhiTranslate="coopCycleApp.bank.streetAddress">Street Address</span></dt>
        <dd>
          <span>{{ bank.streetAddress }}</span>
        </dd>
        <dt><span jhiTranslate="coopCycleApp.bank.postalCode">Postal Code</span></dt>
        <dd>
          <span>{{ bank.postalCode }}</span>
        </dd>
        <dt><span jhiTranslate="coopCycleApp.bank.city">City</span></dt>
        <dd>
          <span>{{ bank.city }}</span>
        </dd>
        <dt><span jhiTranslate="coopCycleApp.bank.stateProvince">State Province</span></dt>
        <dd>
          <span>{{ bank.stateProvince }}</span>
        </dd>
        <dt><span jhiTranslate="coopCycleApp.bank.owns">Owns</span></dt>
        <dd>
          <div *ngIf="bank.owns">
            <a [routerLink]="['/delivery', bank.owns?.id, 'view']">{{ bank.owns?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/bank', bank.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
