<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="products">
      <h2 data-cy="productsDetailsHeading"><span jhiTranslate="coopCycleApp.products.detail.title">Products</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ products.id }}</span>
        </dd>
        <dt><span jhiTranslate="coopCycleApp.products.name">Name</span></dt>
        <dd>
          <span>{{ products.name }}</span>
        </dd>
        <dt><span jhiTranslate="coopCycleApp.products.price">Price</span></dt>
        <dd>
          <span>{{ products.price }}</span>
        </dd>
        <dt><span jhiTranslate="coopCycleApp.products.piece">Piece</span></dt>
        <dd>
          <span>{{ products.piece }}</span>
        </dd>
        <dt><span jhiTranslate="coopCycleApp.products.areIn">Are In</span></dt>
        <dd>
          <div *ngIf="products.areIn">
            <a [routerLink]="['/delivery', products.areIn?.id, 'view']">{{ products.areIn?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/products', products.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
