<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="basket">
      <h2 data-cy="basketDetailsHeading"><span jhiTranslate="coopCycleApp.basket.detail.title">Basket</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="coopCycleApp.basket.id">Id</span></dt>
        <dd>
          <span>{{ basket.id }}</span>
        </dd>
        <dt><span jhiTranslate="coopCycleApp.basket.creationDate">Creation Date</span></dt>
        <dd>
          <span>{{ basket.creationDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="coopCycleApp.basket.price">Price</span></dt>
        <dd>
          <span>{{ basket.price }}</span>
        </dd>
        <dt><span jhiTranslate="coopCycleApp.basket.delivery">Delivery</span></dt>
        <dd>
          <div *ngIf="basket.delivery">
            <a [routerLink]="['/delivery', basket.delivery?.id, 'view']">{{ basket.delivery?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="coopCycleApp.basket.choosen">Choosen</span></dt>
        <dd>
          <div *ngIf="basket.choosen">
            <a [routerLink]="['/products', basket.choosen?.id, 'view']">{{ basket.choosen?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/basket', basket.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
