<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="delivery">
      <h2 data-cy="deliveryDetailsHeading"><span jhiTranslate="coopCycleApp.delivery.detail.title">Delivery</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="coopCycleApp.delivery.id">Id</span></dt>
        <dd>
          <span>{{ delivery.id }}</span>
        </dd>
        <dt><span jhiTranslate="coopCycleApp.delivery.streetAddress">Street Address</span></dt>
        <dd>
          <span>{{ delivery.streetAddress }}</span>
        </dd>
        <dt><span jhiTranslate="coopCycleApp.delivery.postalCode">Postal Code</span></dt>
        <dd>
          <span>{{ delivery.postalCode }}</span>
        </dd>
        <dt><span jhiTranslate="coopCycleApp.delivery.city">City</span></dt>
        <dd>
          <span>{{ delivery.city }}</span>
        </dd>
        <dt><span jhiTranslate="coopCycleApp.delivery.stateProvince">State Province</span></dt>
        <dd>
          <span>{{ delivery.stateProvince }}</span>
        </dd>
        <dt><span jhiTranslate="coopCycleApp.delivery.paid">Paid</span></dt>
        <dd>
          <span>{{ delivery.paid }}</span>
        </dd>
        <dt><span jhiTranslate="coopCycleApp.delivery.tripPrice">Trip Price</span></dt>
        <dd>
          <span>{{ delivery.tripPrice }}</span>
        </dd>
        <dt><span jhiTranslate="coopCycleApp.delivery.creator">Creator</span></dt>
        <dd>
          <div *ngIf="delivery.creator">
            <a [routerLink]="['/a-user', delivery.creator?.id, 'view']">{{ delivery.creator?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/delivery', delivery.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
