<div>
  <h2 id="page-heading" data-cy="BasketHeading">
    <span jhiTranslate="coopCycleApp.basket.home.title">Baskets</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="coopCycleApp.basket.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-basket"
        [routerLink]="['/basket/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="coopCycleApp.basket.home.createLabel"> Create a new Basket </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="baskets?.length === 0">
    <span jhiTranslate="coopCycleApp.basket.home.notFound">No baskets found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="baskets && baskets.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="coopCycleApp.basket.id">Id</span></th>
          <th scope="col"><span jhiTranslate="coopCycleApp.basket.creationDate">Creation Date</span></th>
          <th scope="col"><span jhiTranslate="coopCycleApp.basket.price">Price</span></th>
          <th scope="col"><span jhiTranslate="coopCycleApp.basket.delivery">Delivery</span></th>
          <th scope="col"><span jhiTranslate="coopCycleApp.basket.choosen">Choosen</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let basket of baskets; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/basket', basket.id, 'view']">{{ basket.id }}</a>
          </td>
          <td>{{ basket.creationDate | formatMediumDatetime }}</td>
          <td>{{ basket.price }}</td>
          <td>
            <div *ngIf="basket.delivery">
              <a [routerLink]="['/delivery', basket.delivery?.id, 'view']">{{ basket.delivery?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="basket.choosen">
              <a [routerLink]="['/products', basket.choosen?.id, 'view']">{{ basket.choosen?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/basket', basket.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/basket', basket.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(basket)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
